* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #F6F2E9;
}

.pad1{
  margin-left: 54px;
  margin-top: 13px;
}

.redes{
  margin-top: -4px;
  margin-left: 83px;
}

.del{
  margin-top: 20px;
}

.pad{
  margin-top: 13px;
  margin-left: 18px;
}

.pad2{
  margin-top: 13px;
  font-size: 18px;
}

.logo{
  margin-left: 10px;
  float: left;
  width: 146px;
}

.imagem{
  margin-top: -11px;
  margin-left: 40px;
}

img{
  border-radius: 10px;
}

.titulo h1 {
  font-size: 30px;
}

.topnav {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background: #E95B2D;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  color: white;
  text-decoration: underline;
}

.colunasuperior {
  overflow: hidden;
  background-color: #333;
}

.colunasuperior a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.colunasuperior a:hover {
  background-color: #ddd;
  color: black;
}

.colunaesquerda {   
  float: left;
  width: 100%;
}

.colunadireita {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.caixa1 {
  padding: 20px;
  margin-top: 4x;
}

.caixa2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.caixa3 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.caixa4 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color:black;
}

.caixa5 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color:blue;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rodape {
  padding: 20px;
  text-align: center;
  background: #00008B ;
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  .colunaesquerda, .colunadireita {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .colunasuperior  a {
    float: none;
    width: 100%;
  }
}